# Configuration created by Apache Sling JCR Installer
scheduler.expression="0\ 30\ 6\ 27\ JUL\ ?\ 2020" 
clientId="3708d601d2806caa9045c1881f414791662440ef"
waitTime=I"480000"
endDateEntry="27-07-2020"
alkemicsProductUrl="https://apis.alkemics.com/public/v1/products/list"
alkemicsTokenUrl="https://apis.alkemics.com/auth/v2/token"
startDateEntry="25-07-2020"
batchSize=I"1000"
dryRun=B"false"
clientSecret="3541b4816f92fb5f79d518e10476f4de5b04cfde"
init=B"true"
scheduler.concurrent=B"false"
