# Configuration created by Apache Sling JCR Installer
queue.name=""
queue.priority="NORM"
queue.maxparallel=D"4616189618054758400"
queue.topics=[""]
queue.retries=I"10"
queue.preferRunOnCreationInstance=B"false"
queue.threadPoolSize=I"0"
queue.retrydelay=L"2000"
service.ranking=I"0"
queue.type="UNORDERED"
queue.keepJobs=B"false"
