# Configuration created by Apache Sling JCR Installer
org.apache.sling.commons.log.names=["com.societecooperativegroupements"]
org.apache.sling.commons.log.file="logs/project-societecooperativegroupements.log"
org.apache.sling.commons.log.level="info"
org.apache.sling.commons.log.additiv="false"
