# Configuration created by Apache Sling JCR Installer
scheduler.expression="0 0 12 1/1 * ? *"
clientId="f808bccc2a54ba70e0f126fabe858c378ee765eb"
waitTime=I"480000"
endDateEntry="01-12-2022"
alkemicsProductUrl="https://apis.alkemics.com/public/v1/products"
alkemicsTokenUrl="https://apis.alkemics.com/auth/v2/token"
startDateEntry="26-11-2019"
batchSize=I"1000"
dryRun=B"false"
clientSecret="4cb73af27b6019db47c0baa6a72d33f65295e5ee"
init=B"false"
scheduler.concurrent=B"false"
